# Executables
*.exe
*.out
*.app

# Build directory
build

# Compilation artifacts
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dll

# Editor lock files
*.swp

# CodeBlocks IDE files
*.layout
*.depend

# Transient files
*.cache